body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{

}
header{
height: 90px;
width: 100%;
background-color:black;
position: fixed;
}
main{

}
footer{

}


.li_burger{
    display: inline;
    float: right;
    list-style-type: none;
    margin: 10px;
    transition: all 0.5s 0s;

}
.a_burger{
    text-decoration: none;
    color: white;
}
.li_burger:hover{
    margin: 20px 10px;
}
.div_logo{
    height: 350px;
    transition: all 0.5s 0s;
}
.div_logo:hover{
    height: 330px;
}
.h3_logo{
    display: inline;
    float: left;
    margin: 10px;
    color: white;
    transition: all 0.5s 0s;

}
.h3_logo:hover{
    margin-top: 20px;
}
.div_bacground_img{
    background:url(./unnamed.jpg) center/100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display:flex;
    flex-direction: column;
 
    justify-content:center
}
.img_logo{
    display: block;
    margin: auto;
    border-radius: 300%;
    width: 300px;
    height: 300px;
    border:solid 5px;
    margin-bottom: 15px;
}

.div_main_text{
    display: flex;
}
.div_main_text{

}
.div_about_profesion{

}
h2{
    justify-content: center;
    transition: all 0.5s 0s;
    margin-top: 20px;
}
h2:hover{
    margin-top: 30px;
}
.my_names{
    display: block;
    margin: auto;
    border-radius: 300px;
}
